# Intento de instalacion de paquetes para Colab
Pillow
cycler
et-xmlfile
future
kiwisolver
matplotlib
numpy
openpyxl
pandas
pyarrow
python-dateutil
pytz
scipy
six
wheel
wxPython

# contenido original de la rama master
openpyxl
numpy>=1.16.5
numpy
pandas>=1.0.1
pandas; python_version<="3.0"
xlrd==1.2.0; python_version<"3.0"
pyarrow
matplotlib 
future
chardet
wxpython
scipy
